.idea/
.classpath
.settings/
.project
.metadata
.cache
.checkstyle
.DS_Store
target/
doc/
fcrepo4-data/
ActiveMQ/
FedoraRepository/
indexes/
ObjectStore/
*/.cache
*~
*.iml
fcrepo-integration-ldp/report-*
fcrepo-integration-ldp/report
fcrepo-integration-ldp/test-output
