language: java
sudo: false
jdk:
  - oraclejdk8

script:
 - mvn install -B -V
 - mvn javadoc:jar
 - mvn javadoc:test-aggregate

notifications:
  irc: "irc.freenode.org#fcrepo"
  email:
      - fedora-tech@googlegroups.com

